<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="admin/adminBase::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row p-4">
				<div class="col-md-10 offset-md-1">
					<h1 class="text-center">Order details</h1>
					<div class="row">
						<div class="col-md-4">User name <span th:text="${order.username}"></span></div>
						<div class="col-md-4">Delivery Address<span th:text="${order.deliveryAddress}"></span></div>
						<div class="col-md-4">Status<span th:text="${order.status}"></span></div>
					</div>
					<div class="row">
						<div class="col-md-4">Order Id<span th:text="${order.id}"></span></div>
						<div class="col-md-4">Item<span th:text="${order.username}"></span></div>
						<div class="col-md-4">Date<span th:text="${order.username}"></span></div>
					</div>

					<div class="row">
						<div class="col-md-4">Paid Amount</div>
						<div class="col-md-4">Product Name</div>
						<div class="col-md-4">Quantity</div>
					</div>
					<div class="row">
						<div class="col-md-4">transaction code</div>
						<div class="col-md-4">transaction Number</div>
						<div class="col-md-4">Transaction through</div>
					</div>
				</div>

			</div>

		</div>





	</section>
</body>
</html>