<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="./base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title th:text="${title}">Document</title>
</head>
<body>
	<section class="jumbotron overflow-hidden">

		<div class="p-4">
			<div class="row mb-4">
				<div class="col-md-2  p-2 border border-dark">
					<div class="mb-3">
						<a class="mybtn w-100" th:href="@{/user/userdashboard}">Dashboard</a>
					</div>
					<div class="mb-3">
						<a class="mybtn w-100" th:href="@{/user/mycart}">View Carts</a>
					</div>
					<div class="mb-3">
						<a class="mybtn w-100" th:href="@{/user/myorder}">View Orders</a>
					</div>
					<div class="mb-3 ">
						<a class="mybtn w-100" th:href="@{/logout}">Logout</a>
					</div>
				</div>

				<div class="col-md-10">
					<div class="row">
						<div class="col-md-10 col-lg-10 offset-md-1 offset-lg-1">
							<div class="mb-3">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">Date</th>
											<th scope="col">Item</th>
											<th scope="col">Product</th>
											<th scope="col">Quantity</th>
											<th scope="col">Total</th>
											<th scope="col">Status</th>
											<th scope="col" colspan="2">Actions</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="o:${orders}">
										<td>
												<h4 th:text="${#dates.format(o.submitDate, 'yyyy-MMM-dd')}">2020-3-15</h4>
											</td>
											<th scope="row">
											<img th:src="@{/img/frypin.jpg}"
												width="60" height="75" class="card-img-top img "
												alt="productImage"></th>
											<td><h4 th:text="${o.product.name}">Fry pin</h4></td>
											<td>
												<h4 th:text="${o.quantity}">4</h4>
											</td>
											<td>
												<h4 th:text="${o.payableAmount}">4000</h4>
											</td>
											<td>
												<h4 th:text="${o.status}">Pending</h4>
											</td>

											<td>

												<button>
													<i class="bi bi-trash-fill"></i>
												</button>
											</td>
										</tr>
									</tbody>

								</table>

							</div>
						</div>

					</div>

				</div>
			</div>
		</div>




	</section>

</body>
</html>