<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title th:text="${title}">Document</title>
</head>
<body>
	<section class="jumbotron overflow-hidden">
		<div class="container my-4 ">
			<div class="row">
				<div class="col-md-6 offset-md-3">

					<form th:action="@{/do_register}" method="post" th:object="${forgotPassword}"
						class="border border-dark p-3">
						<h3 class="mb-3">Reset password</h3>
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="floatingInput"
								name="email" placeholder="name@example.com"> <label
								for="floatingInput">Email </label>
						</div>

						<div class="form-floating mb-3">
							<input type="password" class="form-control" id="floatingPassword"
								name="password" placeholder="Password"> <label
								for="floatingPassword">New Password</label>
						</div>
						<div class="form-floating mb-3">
							<input type="password" class="form-control" id="floatingPassword"
								name="conformPassword" placeholder="Password"> <label
								for="floatingPassword">Conform Password</label>
						</div>
						


						<div class="container text-center">
							<button class="btn btn-primary  w-50" type="submit">Submit</button>
						</div>


					</form>
				</div>
			</div>
		</div>
	</section>

</body>
</html>