<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title th:text="${title}">Document</title>
</head>
<body>
	<section class="jumbotron overflow-hidden">
		<div class="container my-4 ">
			<div class="row">
				<div class="col-md-6 offset-md-3">

					<form th:action="@{/do_register}" method="post" th:object="${user}"
						class="border border-dark p-3">
						<h3 class="mb-3">Create Account</h3>
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="floatingInput"
								name="email" placeholder="name@example.com"> <label
								for="floatingInput">Email </label>
						</div>
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="floatingInput"
								name="fullName"> <label for="floatingInput">fullName</label>
						</div>
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="floatingInput"
								name="phoneNumber"> <label for="floatingInput">phoneNumber</label>
						</div>
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="floatingInput"
								name="address"> <label for="floatingInput">Address
								eg:Kathmandu-16 banasthali</label>
						</div>
						<div class="form-floating mb-3">
							<input type="password" class="form-control" id="floatingPassword"
								name="password" placeholder="Password"> <label
								for="floatingPassword">Password</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="agreed"
								id="flexCheckDefault"> <label class="form-check-label"
								for="flexCheckDefault"> Accept our terms and condition </label>
						</div>


						<p class="agreement">
							By clicking Sign Up, you agree to our <a href="#">Terms, Data
								Policy and Cookies Policy.</a> You may receive SMS Notifications
							from us and can opt out any time.
						</p>

						<div class="container text-center">
							<button class="btn btn-primary  w-50" type="submit">Sign
								Up</button>
						</div>
						<p class="mb-3 text-center">
						Already have an account	<a th:href="@{/login}">click here! </a>
						</p>

					</form>
				</div>
			</div>
		</div>
	</section>

</body>
</html>